.MuiStepper-root {
    background: none !important;
    box-shadow: none !important;
}
.Mui-completed {
    color: black !important;
}
.MuiButton-root {
    color: white !important;
}
.MuiStepLabel-label {
    color: black !important;
}
