.MuiStepper-root {
    background: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.Mui-completed {
    color: black !important;
}
.MuiButton-root {
    color: white !important;
}
.MuiStepLabel-label {
    color: black !important;
}
.MuiTableHead-root {
    display: contents !important;
}
th {
    color: white !important;
}
